<a href="https://colab.research.google.com/github/mkar0809/Python--Pit/blob/main/Python_pit_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!wget -O Tutorial.csv -q  https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/pandas_tutorial_read.csv #fetching the dataset

In [ ]:
file_path = 'Tutorial.csv'
custom_delimiter = ';'  # Specify the delimiter used in the CSV file

# Read the CSV file into a DataFrame
df_ArticleRead = pd.read_csv(file_path, sep=custom_delimiter, header=None)

# Display the first few rows of the DataFrame
print(df_ArticleRead.head())

                     0     1          2           3        4              5
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
file_path = 'Tutorial.csv'
custom_delimiter = ';'  # Specify the delimiter used in the CSV file
col_names = ['My_Datetime', 'Event', 'Country', 'User_ID', 'Source', 'Topic']  # Desired column names

# Read the CSV file into a DataFrame and assign desired column names
df_ArticleRead = pd.read_csv(file_path, delimiter=custom_delimiter, header=None, names=col_names)

# Display the DataFrame with renamed columns
print(df_ArticleRead.head())

           My_Datetime Event    Country     User_ID   Source          Topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
df_ArticleRead.info() #checking the datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   My_Datetime  1795 non-null   object
 1   Event        1795 non-null   object
 2   Country      1795 non-null   object
 3   User_ID      1795 non-null   int64
 4   Source       1795 non-null   object
 5   Topic        1795 non-null   object
dtypes: int64(1), object(5)
memory usage: 84.3+ KB

In [ ]:
df_ArticleRead.head()

           My_Datetime Event    Country     User_ID   Source          Topic
0  2018-01-01 00:01:01  read  country_7  2458151261      SEO  North America
1  2018-01-01 00:03:20  read  country_7  2458151262      SEO  South America
2  2018-01-01 00:04:01  read  country_7  2458151263  AdWords         Africa
3  2018-01-01 00:04:02  read  country_7  2458151264  AdWords         Europe
4  2018-01-01 00:05:03  read  country_8  2458151265   Reddit  North America

In [ ]:
# Filter the DataFrame where 'Source' column equals 'SEO'
filtered_df = df_ArticleRead[df_ArticleRead['Source'] == 'SEO']

# Display the filtered DataFrame
print(filtered_df)

              My_Datetime Event    Country     User_ID Source          Topic
0     2018-01-01 00:01:01  read  country_7  2458151261    SEO  North America
1     2018-01-01 00:03:20  read  country_7  2458151262    SEO  South America
11    2018-01-01 00:08:57  read  country_7  2458151272    SEO      Australia
15    2018-01-01 00:11:22  read  country_7  2458151276    SEO  North America
16    2018-01-01 00:13:05  read  country_8  2458151277    SEO  North America
...                   ...   ...        ...         ...    ...            ...
1772  2018-01-01 23:45:58  read  country_7  2458153033    SEO  South America
1777  2018-01-01 23:49:52  read  country_5  2458153038    SEO  North America
1779  2018-01-01 23:51:25  read  country_4  2458153040    SEO  South America
1784  2018-01-01 23:54:03  read  country_2  2458153045    SEO  North America
1791  2018-01-01 23:58:33  read  country_8  2458153052    SEO           Asia

[346 rows x 6 columns]

In [ ]:
# Filter the DataFrame where 'Country' column equals 'country_2' and assign it to df_ArticleReadCountry2
df_ArticleReadCountry2 = df_ArticleRead[df_ArticleRead['Country'] == 'country_2']

# Display the new DataFrame
print(df_ArticleReadCountry2)

              My_Datetime Event    Country     User_ID   Source          Topic
6     2018-01-01 00:06:06  read  country_2  2458151267   Reddit         Europe
13    2018-01-01 00:09:29  read  country_2  2458151274   Reddit         Europe
17    2018-01-01 00:13:06  read  country_2  2458151278   Reddit           Asia
19    2018-01-01 00:14:53  read  country_2  2458151280   Reddit           Asia
20    2018-01-01 00:15:44  read  country_2  2458151281   Reddit           Asia
...                   ...   ...        ...         ...      ...            ...
1782  2018-01-01 23:53:03  read  country_2  2458153043  AdWords           Asia
1784  2018-01-01 23:54:03  read  country_2  2458153045      SEO  North America
1785  2018-01-01 23:54:26  read  country_2  2458153046  AdWords         Africa
1787  2018-01-01 23:54:45  read  country_2  2458153048   Reddit           Asia
1790  2018-01-01 23:57:14  read  country_2  2458153051  AdWords  North America

[462 rows x 6 columns]

In [ ]:
# Splitting 'My_Datetime' column and creating 'Date' and 'Time' columns
split_datetime = df_ArticleReadCountry2['My_Datetime'].str.split(' ', 1, expand=True)
df_ArticleReadCountry2['Date'] = split_datetime[0]
df_ArticleReadCountry2['Time'] = split_datetime[1]

# Dropping the 'My_Datetime' column
df_ArticleReadCountry2.drop('My_Datetime', axis=1, inplace=True)

# Displaying the modified DataFrame
print(df_ArticleReadCountry2)

     Event    Country     User_ID   Source          Topic        Date  \
6     read  country_2  2458151267   Reddit         Europe  2018-01-01
13    read  country_2  2458151274   Reddit         Europe  2018-01-01
17    read  country_2  2458151278   Reddit           Asia  2018-01-01
19    read  country_2  2458151280   Reddit           Asia  2018-01-01
20    read  country_2  2458151281   Reddit           Asia  2018-01-01
...    ...        ...         ...      ...            ...         ...
1782  read  country_2  2458153043  AdWords           Asia  2018-01-01
1784  read  country_2  2458153045      SEO  North America  2018-01-01
1785  read  country_2  2458153046  AdWords         Africa  2018-01-01
1787  read  country_2  2458153048   Reddit           Asia  2018-01-01
1790  read  country_2  2458153051  AdWords  North America  2018-01-01

          Time
6     00:06:06
13    00:09:29
17    00:13:06
19    00:14:53
20    00:15:44
...        ...
1782  23:53:03
1784  23:54:03
1785  23:54:26
1787  23:54:45
1790  23:57:14

[462 rows x 7 columns]

<ipython-input-9-880750b5efe0>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  split_datetime = df_ArticleReadCountry2['My_Datetime'].str.split(' ', 1, expand=True)
<ipython-input-9-880750b5efe0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ArticleReadCountry2['Date'] = split_datetime[0]
<ipython-input-9-880750b5efe0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ArticleReadCountry2['Time'] = split_datetime[1]
<ipython-input-9-880750b5efe0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ArticleReadCountry2.drop('My_Datetime', axis=1, inplace=True)

In [ ]:
dataURL = 'https://raw.githubusercontent.com/Praxis-QR/FDS/main/data/zoo.csv'
dfZoo = pd.read_csv(dataURL) #fetching and reading the data

In [ ]:
dfZoo.head(5)

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550
3     tiger     1004         300
4     tiger     1005         320

In [ ]:
# Filter the DataFrame where 'animal' column equals 'elephant'
filtered_df = dfZoo[dfZoo['animal'] == 'elephant']

# Display the new DataFrame with the filtered results
print(filtered_df)

     animal  uniq_id  water_need
0  elephant     1001         500
1  elephant     1002         600
2  elephant     1003         550

In [ ]:
dfZoo.count() #To count the number of the animals

animal        22
uniq_id       22
water_need    22
dtype: int64

In [ ]:
# Calculate the total sum of the 'water_need' column using the sum() method
total_water_needed = dfZoo['water_need'].sum()

# Display the total sum of water needed
print(total_water_needed)

7650

In [ ]:
# Find the minimum value in the 'water_need' column using the min() method
min_water_needed = dfZoo['water_need'].min()

# Display the minimum value of water needed
print(min_water_needed)

80

In [ ]:
# Find the minimum value in the 'water_need' column using the min() method
max_water_needed = dfZoo['water_need'].max()

# Display the maximum value of water needed
print(max_water_needed)

600

In [ ]:
# Calculate the mean (average) of the 'water_need' column using the mean() method
mean_water_needed = dfZoo['water_need'].mean()

# Display the mean water needed
print(mean_water_needed)

347.72727272727275

In [ ]:
# Find the median value of the 'water_need' column using the median() method
median_water_needed = dfZoo['water_need'].median()

# Display the median value of water needed
print(median_water_needed)

325.0

In [ ]:
# Grouping by 'animal' column and calculating the mean of 'water_need' for each animal
grouped_mean_water_need = dfZoo.groupby('animal')['water_need'].mean().reset_index()

# Displaying the mean water needed for each animal
print(grouped_mean_water_need)

     animal  water_need
0  elephant  550.000000
1  kangaroo  416.666667
2      lion  477.500000
3     tiger  310.000000
4     zebra  184.285714